$text-light: rgba(255, 255, 255, 0.83);
$text-light-secondary: rgba(255, 255, 255, 0.54);
$text-light-tertiary: rgba(255, 255, 255, 0.25);
$text-dark: rgba(0, 0, 0, 0.83);
$text-dark-secondary: rgba(0, 0, 0, 0.54);
$text-dark-tertiary: rgba(0, 0, 0, 0.25);

$text: $text-light;
$text-secondary: $text-light-secondary;
$text-tertiary: $text-light-tertiary;

$text-invert: $text-dark;
$text-invert-secondary: $text-dark-secondary;
$text-invert-tertiary: $text-dark-tertiary;

$hover-dark: rgba(0, 0, 0, 0.09);
$hover-light: rgba(255, 255, 255, 0.09);
$hover: $hover-dark;

$accent: #3694c8;
$accent-secondary: #347498;
$onAccent: $text;
$accent-hover: #4690b9;

$selected: #aaaaaa88;

$background: #111111;
$onBackground: $text;

$surface: #222222;
$surface-hover: #555555;
$onSurface: $text-light;

$table: #444444;
$onTable: $text-light;
$table-border: $text-light-tertiary;

$code: #444444;
$onCodet: $text-light;

$positive: #36f443;
$positive-hover: #5bec65;
$onPositive: $text-dark;

$negative: #f44336;
$negative-hover: #df2e20;
$onNegative: $text-light;

$warn: #ebd404;
$onWarn: $text-dark;
$warn-hover: #eede5c;

$error: $negative;
$error-hover: $negative-hover;
$onError: $onNegative;
