@use 'vars';
@use 'color';
@use 'tag';
@use 'list';

body {
    background: color.$background;
    color: color.$onBackground;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    font-size: 1rem;
    font-family: monospace;
}

header,
h1 {
    margin-bottom: 1.2rem;
}

span {
    display: inline-block;
}

section {
    margin: 1rem 1rem 3rem 1rem;
    padding: 0 1rem 1rem 1rem;
    border: vars.$table-border;
    border-radius: 0.5rem;
}

a {
    color: color.$accent;
    text-decoration: none;
}

a:visited {
    color: color.$accent-secondary;
}

.row {
    display: flex;
    flex-direction: row;
}

.centered {
    margin: auto;
    width: fit-content;
}

.space-between {
    @extend .row;
    justify-content: space-between;
    width: -webkit-fill-available;
}