@use 'animation';
@use 'color';

.list {
    background: color.$table;
}

.list-scroll {
    @extend .list;
    overflow-y: scroll;
    max-height: 15rem;
}

.list-item {
    @include animation.animated-color;
    padding: 6px 4px;
    background-color: color.$table;
    display: flex;
    align-items: center;
    cursor: default;
}

.list-item:hover {
    background-color: color.$hover;
}

.item-content {
    font-size: small;
}

a .list-item,
a:hover .list-item {
    color: color.$text;
}
