:root {
    --text-light-primary: rgba(255, 255, 255, 0.83);
    --text-light-secondary: rgba(255, 255, 255, 0.54);
    --text-light-tertiary: rgba(255, 255, 255, 0.25);
    --text-dark-primary: rgba(0, 0, 0, 0.83);
    --text-dark-secondary: rgba(0, 0, 0, 0.54);
    --text-dark-tertiary: rgba(0, 0, 0, 0.25);

    --text-primary: var(--text-dark-primary);
    --text-secondary: var(--text-dark-secondary);
    --text-tertiary: var(--text-dark-tertiary);

    --text-primary-invert: var(--text-light-primary);
    --text-secondary-invert: var(--text-light-secondary);
    --text-tertiary-invert: var(--text-light-tertiary);

    --accent: #e13255;
    --accent-secondary: #e1325577;

    --selected: #eeeeee88;

    --backsheet: #f5f5f5;
    --tabletop: #eeeeee;

    --card-background: #ffffff;
    --card-background-hover: #eeeeee;

    --table-background: var(--card-background);
    --table-text: var(--text-dark-primary);
    --table-border: var(--text-dark-tertiary);

    --code-background: #444444;
    --code-text: var(--text-light-primary);

    --warn: #f44336;
}
