:root {
    --text-light-primary: rgba(255, 255, 255, 0.83);
    --text-light-secondary: rgba(255, 255, 255, 0.54);
    --text-light-tertiary: rgba(255, 255, 255, 0.25);
    --text-dark-primary: rgba(0, 0, 0, 0.83);
    --text-dark-secondary: rgba(0, 0, 0, 0.54);
    --text-dark-tertiary: rgba(0, 0, 0, 0.25);

    --text-primary: var(--text-light-primary);
    --text-secondary: var(--text-light-secondary);
    --text-tertiary: var(--text-light-tertiary);

    --text-primary-invert: var(--text-dark-primary);
    --text-secondary-invert: var(--text-dark-secondary);
    --text-tertiary-invert: var(--text-dark-tertiary);

    --accent: #60b4e3;
    --accent-secondary: #60b4e377;

    --selected: #aaaaaa88;

    --backsheet: #111111;
    --tabletop: #070707;

    --card-background: #222222;
    --card-background-hover: #555555;

    --table-background: #444444;
    --table-text: var(--text-light-primary);
    --table-border: var(--text-light-tertiary);

    --code-background: #444444;
    --code-text: var(--text-light-primary);

    --warn: #f44336;
}
