@use 'color';

.member {
    cursor: default;
    transition: margin 180ms, padding 180ms;
}

.member:hover {
    background-color: color.$surface;
}

.house {
    margin-right: 8px;
}

.missing {
    color: color.$warn;
}

.wiki-icon {
    padding: 8px 16px;
}

.wiki-preview {
    display: block;
    margin-left: auto;
    right: 0;
    border-radius: 16px;
}

.editing {
    padding: 16px;
    background-color: color.$surface;
}

.filters {
    padding: 16px 8px 0;
    justify-content: flex-end;
}

.filter-icon {
    cursor: pointer;
    color: color.$text-tertiary;
    padding: 8px;
    margin: 8px 0;
}

.filter-icon.selected {
    color: color.$text;
}

input {
    border: none;
    outline: none;
    padding: 8px;
    font-size: larger;
    border-radius: 4px;
    margin: 8px;
}

.action {
    background-color: color.$positive;
    color: color.$onPositive;
    padding: 10px 16px;
    margin-left: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.preview.action {
    background-color: color.$accent;
    color: color.$onAccent;
}
