@use 'vars';
@use 'color';
@use 'common';
@use 'icons';
@use 'list';

$searchbar-width: 80%;

.search-results {
    @extend .list;
    z-index: 1000;
    position: absolute;
    width: $searchbar-width;
    font-size: smaller;
}

.search-form {
    width: $searchbar-width;
    margin: auto;
    margin-top: 16px;
}

.search-bar-wrapper {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    border-radius: vars.$corner-radius;
}

.search-bar-span {
    @include icons.content-trailing-icon;
    padding: 12px;
}

.search-bar,
.search-bar:focus {
    width: 100%;
    padding: 8px 16px;
    border: none;
    outline: none;
}

.action-close-search {
    @extend .action-icon;
    padding-right: 16px;
    padding-left: 16px;
    color: color.$text-dark;
}

.search-result a,
.search-results a:visited {
    @include icons.content-trailing-icon;
    color: color.$text;
}
