@use 'vars';
@use 'color';
@use 'common';

$searchbar-width: 80%;

.search-results {
    @extend .list;
    position: absolute;
    width: $searchbar-width;
    font-size: small;
}

.search-form {
    width: $searchbar-width;
    margin: auto;
}

.search-bar-wrapper {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    border-radius: vars.$corner-radius;
}

.search-bar-span {
    width: calc(100% - 64px);
}

.search-bar, .search-bar:focus {
    width: 100%;
    padding: 8px 16px;
    border: none;
    outline: none;
}

.action-close-search {
    cursor: pointer;
    padding: 16px;
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
    color: color.$text-dark;
}

.search-result a, .search-results a:visited {
    color: color.$text;
    width: calc(100% - 64px);
}
