@use 'color';
@use 'common';

.task-title {
    @extend .row;
}

.task-content {
    @extend .item-content;
}

.task-time {
    text-align: end;
    font-size: smaller;
}

.task-duration {
    font-size: smaller;
}

.failed {
    background-color: color.$error;
    color: color.$onError;
    font-weight: bolder;
}

.failed:hover {
    background-color: color.$error-hover;
}

.complete .status {
    color: color.$positive;
}

.ongoing {
    background-color: color.$warn;
    color: color.$onWarn;
}

.ongoing:hover {
    background-color: color.$warn-hover;
}

.status {
    padding-right: 8px;
}

code {
    background: color.$text-invert-tertiary;
}

.tag.warning {
    background-color: color.$warn;
    color: color.$onWarn;
    margin: 0 8px;
}
