@use 'color';
@use 'common';

$complete: #36f443;
$ongoing: #ebd404;
$ongoing-hover: #eede5c;
$failed-hover: #df2e20;

.task-content {
    @extend .item-content;
}

.task-time {
    text-align: end;
    font-size: smaller;
}

.task-duration {
    font-size: smaller;
}

.failed {
    background-color: color.$warn;
    color: color.$onWarn;
    font-weight: bolder;
}

.failed:hover {
    background-color: $failed-hover;
}

.complete .status {
    color: $complete;
}

.ongoing {
    background-color: $ongoing;
    color: color.$text-dark;
}

.ongoing:hover {
    background-color: $ongoing-hover;
}

.status {
    padding-right: 8px;
}

code {
    background: color.$text-invert-tertiary;
}
